/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 
 
//custom bootstrap variables must be set or imported before bootstrap

//$navbar-default-bg: #2ECC71;


@import "bootstrap";
//@import "bootstrap-sprockets";

/*header*/
.navbar{
    
    background-color: #006600;
    border-color: #006600;   
}

/*universal*/
body{
    padding-top: 70px;
}

section{
    overflow: auto;
}

textarea{
    resize: vertical;
}

.center{
    text-align: center;
}

.center h1{
    margin-bottom: 12px;
}

/*fonts*/

h1, h2, h3, h4, h5, h6{
    line-height: 1;
}

h1{
    font-size: 3em;
    letter-spacing: -2px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: #000;
}


h2{
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #000;
}

p{
    font-size: 1.1em;
    line-height: 1.7em;
    color: #000;
}

/*books*/
.books{
    
}

.btn-primary{
    background-color: #006600;
    border-color: #006600;
}

#error_explanation{
    color: red;
    ul{
        color: red;
        margin: 0 0 50px 0;
    }
}

.field_with_errors{
    @extend .has-error;
    .form_control{
        color: $state-danger-text;
    }
}

@mixin box_sizing{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}