<footer class = 'footer'>
    <small>
        BookWorm
    </small>
    <% if !logged_in? %>
        <nav>
            <ul>
                <li><%= link_to 'Change Password', edit_user_path(current_user.id) %></li>
            </ul>
        </nav>
    <%end%>
</footer>