    
    <header class = "navbar navbar-fixed-top navbar-inverse" ><!--style="background-color: #9CCC65">-->
      <div class= "container">
        <nav>
          <ul class = "nav navbar-nav navbar-right">
            <li><%= link_to "Home", "/" %></li>
            <li><%= link_to "Login", "/login" %></li>
          </ul>
        </nav>
      </div>
    </header>